<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nitri.ors.test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="ORS Test"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:allowBackup="true" />
</manifest>